[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipython = "*"
twine = "*"

[packages]
numpy = "*"
scipy = "*"
astropy = "*"
pyyaml = "*"
matplotlib = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[scripts]
jupyter = "jupyter notebook"
distribute = """
bash -c 'python setup.py sdist
twine upload dist/$(python setup.py --fullname).tar.gz'
"""
